<!DOCTYPE html>
<html>
<head>
    <title>Send Location or IP Address to Telegram</title>
</head>
<body>
    <h1>Send Location to Telegram</h1>
    <form action="/send_location" method="post">
        <label for="latitude">Latitude:</label>
        <input type="text" name="latitude" id="latitude"><br>
        <label for="longitude">Longitude:</label>
        <input type="text" name="longitude" id="longitude"><br>
        <input type="submit" value="Send Location">
    </form>
    
    <h1>Send IP Address to Telegram</h1>
    <form action="/send_ip" method="post">
        <input type="submit" value="Send IP Address">
    </form>
    
    <script>
        navigator.geolocation.getCurrentPosition(function(position) {
            document.getElementById("latitude").value = position.coords.latitude;
            document.getElementById("longitude").value = position.coords.longitude;
        });
    </script>
</body>
</html>
